* {
    padding: 0;
    margin: 0;
}
#main-background {
    max-height: 125vh;
    padding-bottom: 10px;
    margin: 5px 20px 18px 20px;
    background: 
    linear-gradient(
      rgba(0, 255, 255, 0.1), 
      rgba(0, 255, 255, 0.1)
    ),
    /* bottom, image */
    url(images/bg-hero-desktop.svg);
}

#btnInNav {
    background-color: white;
    color:  black;
    border-radius: 30px;
    padding: 4px 40px;
    font-weight: 500;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
}
h1 {
    margin-top: 40vh;
    font-weight: 500;
}
#imgOne {
    margin-top: 20vh;
}
#btnInHero {
    border-radius: 35px; 
    color: white; 
    font-weight: 500;
}
.btn-pink {
    background-color: #fe52c0;
}
#hero-section {
    margin-bottom: 1em;
}
.card {
    margin-left: auto;
    margin-bottom: 40px;
    border-radius: 25px;
    max-width: 90vw;
    -webkit-box-shadow: -2px 6px 17px -5px rgba(217,217,217,1);
-moz-box-shadow: -2px 6px 17px -5px rgba(217,217,217,1);
box-shadow: -2px 6px 17px -5px rgba(217,217,217,1);
}
.card-left {
    margin-left: 40px;
}
#ready-sec-h2 {
    font-weight: 600;
}
#card-centered {
    margin-top: -100px;
    position: absolute;
    border-radius: 25px;
    padding: 40px;
    width: 60vw;
    height: 30vh;
    justify-content: center;
        -webkit-box-shadow: -2px 6px 17px -5px rgba(0,0,0,1);
-moz-box-shadow: -2px 6px 17px -5px rgba(0,0,0,1);
box-shadow: -2px 6px 17px -5px rgba(6,33,41,1);
}
.card-img {
    padding: 80px;
}
#benefits-section {
    margin-bottom: auto;
}
.last-box {
    min-height: 25vh;
    margin: 50px 0 0 0;
    padding: 50px 0 0 0;
}
#btnInReadySection {
    margin: 20px auto 0 auto;
    text-align: center;
    border-radius: 35px; 
    padding: 20px 80px;
    letter-spacing: .112em;
    color: white; 
    font-weight: 800;

}
.ready-section {
    max-width: 600vw;
    padding: 60px 10px 0 10px;
    font-weight: 700;
}
.dark-bg {
    background-color: #062129;
    min-height: 30vh;
    margin: 0;
    padding: 100px 0 0 0;
}
.attribution {
    background-color: #062129;
    text-align: center;
    margin: 20px 0 0;
    padding: 5px;
    color: grey;
    font-weight: 300;
    line-height: .5;
}
#icon-tribute {
    margin: 0;
    
}
.link-text {
    color: white;
}

footer {
    color: white;
    background-color: #062129;
}
ul {
    justify-content: center;
    text-decoration: none;
    list-style: none;
}
.icon-img {
    max-height: 5vh;
    margin: 0 15px 0 0;
}
#copyright {
    vertical-align: text-bottom;
    font-weight: 300;
    text-align: end;
    margin-right: 110px;
    background-color: #062129;
}
.navbrand {
    max-height: 25px;
}
#logo-in-footer {
    margin: 0 0 0 20px;
}
#phone-icon {
    margin-top: 138px;
    margin-bottom: 8px;
}
#email-icon {
    margin-top: 17px;
}
.padding-top {
    margin-top: 90px;
}

.padding-top-plus {
    margin-top: 124px;
}
.table th {
    border-style: hidden;
}
#ready-section {
    margin-top: 10em;
}
.navbar.scrolled {
    position: fixed;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    background: rgb(234,254,254);
    transition: background 500ms;
}
/*--------MEDIA QUERIES---------*/
@media screen and (max-width: 40em){
    .icon-img {
    text-align: center;
    }
    #ready-sec-h2 {
    margin-top: 3em;
    }
    #btnInReadySection {
    margin-top: 3em;
    padding: 10px;
    }
    #logo-in-footer {
    margin: 0 22px 20px;
    }
    .contact-table {
    margin-top: 1em;
    }
    #copyright {
    margin-top: 1em;    
    }
    #imgOne {
    max-height: 18em;
        margin-bottom: 1em;
    }
    .card-left {
    margin-left: auto;
}
    #benefits-section {
    margin-top: 2em;
    }
    .negative {
    margin-top: -16em;
    }
    #ready-section {
        min-width: 100vw;
    margin-top: 10em;
    }
    #card-centered {
    min-width: 85vw;
    }
    .navbar.scrolled {
    position: fixed;
    margin: 0;

}
}



